body {
  background-color: #000080;
}

.page-header {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 500px;
}

.page-navigation {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 200px;
}

.offset-content {
  position: absolute;
  padding-left: 230px;
  top: 20px;
  width: 80%;
  z-index: -1000;
}

.offset-content .window {
  margin-bottom: 20px;
}

.content-view {
  width: 100%;
}

nav button {
  width: 90%;
  margin-bottom: 20px;
}

p2 {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

p3 {
  font-size: 25px;
  font-family: arial, Arial, Helvetica, sans-serif;
}

img {
  height: 350px;
  width: 350px;
  float: left;
  padding: 25px;
}

a.one {
  background-color: red;
  color: white;
  padding: 1em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  font-family: arial, Arial, Helvetica, sans-serif;
}

a.two {
  background-color: red;
  color: white;
  padding: 15px 28px;
  border-radius: 12px;
  text-decoration: none;
  font-size: 20px;
  font-family: arial, Arial, Helvetica, sans-serif;
}

a.one:hover,
a.two:hover {
  background-color: #4caf50;
  color: white;
}
